
<h1>Update your garment</h1>
<% if logged_in? %>
  <%= render 'form' %>
  <%#link_to show, by post id%>
<% else %>
  <p>
    Please log in to update garments.
  </p>
<% end %>
  <%#link back to log in page %>
