  <h1>Your Garments</h1>

<section id="garments">
  <div id="garments carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% current_user.garments.each_with_index do |garment, index| %>
       <li data-target="#garments carousel" data-slide-to="<% index + 1 %>" class="<%= index == 0 ? 'active' : ''%>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
        <% current_user.garments.each_with_index do |garment, index| %>
          <div class="<%= index == 0 ? 'item active' : 'item' %>">
            
            <a href="/garments/<%=garment.id%>"><img src="<%=garment.image%>", img width="150" height="150">
         </div><!-- index -->
         <% end %>
      </div><!-- carousel-inner -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- carousel --> 
</section>





