  <h1>Your Garments</h1>

  <% @garments.each do |i| %>
    <p><%= link_to i.name, i %></p>
  <% end %>

  <br><%= link_to "You NEED a dress for every occasion! Add one here.", new_garment_path %><br>

  <br><%= link_to "Check out your sparkle! See your accessories here.", accessories_path %><br>

  <br><%= link_to "Shop your shoe closet! See all your shoes here.", shoes_path %><br>
