<h1>Outfit</h1>
<div class="container">
  <% Outfit.limit(1).each do |f|%>
  <div class="row">
    <div class="col-md-4">
      <p><%= f.garment.name%></p>
    </div>
    <div class="col-md-4">
      <p><%= f.shoe.name%></p>
    </div>
    <div class="col-md-4">
      <p><%= f.accessory.name%></p>
    </div>
  </div>
  <%end%>
</div>
