<h1>Random Outfits!</h1>

<div class="row">

  <div class="col-md-4">
    <ul>
    <li><%= link_to @random_accessory.name, @random_accessory  %></li>
    </ul>
  </div>

  <div class="col-md-4">

    <ul>
       <li><%= link_to @random_garment.name, @random_garment  %></li>
    </ul>
  </div>

  <div class="col-md-4">

  <ul>
    <li><%= link_to @random_garment.name, @random_garment  %></li>
    </ul>
  </div>

  <form>
    <input type=button value="Get another random outfit!" onClick="window.location.reload()">
  </form>


</div>
