<h1>Let's Make An Outfit!</h1>

<%= render 'form' %>

<%= link_to random_outfit_path, class: "btn btn-default" do %>
Get a random outfit<% end %>

<%= link_to outfits_path, class: "btn btn-default" do %>
Look at My Outfits<% end %>
