<div class="container">
  <img src="https://d108y2jzptk3t0.cloudfront.net/post_images/photos/000/533/963/1_21_large_v2.jpg" alt="yeah-thats-an-armoire">

  <p>Armoire offers customized recommendations for daily outfit selections based on current weather, times worn, and coordination with other articles of clothing in wardrobe</p>
</div>

