<div class="container">
  <p>Armoire offers customized recommendations for daily outfit selections based on current weather, times worn, and coordination with other articles of clothing in wardrobe</p>
</div>