<div class="container">
  
  <ol>
  <h2>For assistance using Armoire, please:</h2>
    <li>Head to the Flatiron School Web Immersive on 11 Broadway.</li>
    <li>Locate the 2nd row of computers from the right.</li>
      <li>Head to the way back.</li>
      <li>Identify the well dressed students diligently coding.</li>
      <li>Ask any questions you like.</li>
  </ol>
</div>