<h1></h1>
<h5>"Give a girl the right pair of shoes and she can conquer the world." ~Marilyn Monroe</h5>

  <ul>
    <% @shoes.each do |shoe| %>
        <li> <%= link_to shoe.name, shoe %> </li><br>
    <% end %>
  </ul>