<h2><%= link_to @accessory.name, accessory %></h2>

<p><%= link_to 'Edit', edit_accessories_path(accesory) %></p>
<p><%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure you want to remove this from your Armoire?' } %></p>
