<h1>Your Accessories</h1>
<%= render @accessories %> <br>

<br><%= link_to "You need another piece of sparkle in your life! Add one here", new_accessory_path %><br>

<br><%= link_to "Shop your shoe closet! See all your shoes here.", shoes_path %><br>

<br><%= link_to "Why don't you get into something more comfortable? See all your clothes here.", garments_path %>
